.control-strip {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background: #eee;
	padding: 10px 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(168, 168, 168, 0.2);

	.title-block {
		h1 {
			margin: 0;
			padding: 0;
			font-size: 1.3rem;
			min-width: 200px;
		}
	}

	.control-block {
		display: flex;
		justify-content: space-between;

		.button-block,
		.input-block {
			max-width: 50%;
		}

		.button-block {
			.btn-github {
				background: #333;
				border-color: #111;
				color: #fff;

				&:hover {
					background: #222;
					color: #fff;
				}
			}
		}
	}

}