<div class="control-strip">
  <div class="title-block">
    <h1>Twitch TV Viewer</h1>
  </div>
  <div class="control-block">
    <div class="button-block">
      <a class="btn btn-github" href="http://github.com/lordchancellor/twitch-viewer" target="_blank" rel="noopener">
        <i class="fa fa-lg fa-github" aria-hidden="true"></i>
        See the code on GitHub
      </a>
    </div>

    <!-- Hide the input block for V1 deployment -->
    <div class="input-block" *ngIf="false">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." #searchField (keyup.enter)="search(searchField)">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="search(searchField)"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>