<div class="control-strip">
  <div class="title-block">
    <h1>Twitch TV Viewer</h1>
  </div>
  <div class="control-block">
    <div class="button-block">
      <button class="btn btn-info">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        Refresh
      </button>

      <button class="btn btn-success" *ngIf="!liveOnly" (click)="toggleViewOption()">View Live Streams</button>
      <button class="btn btn-default" *ngIf="liveOnly" (click)="toggleViewOption()">Viw All Streams</button>
    </div>

    <div class="input-block">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." #searchField (keyup.enter)="search(searchField)">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="search(searchField)"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>